.title
  %h2
    - if current_user.is_admin
      Proyectos
    - else
      Proyectos de
      = current_user.organization.name
    = link_to new_project_path, class: "btn-floating btn-large right" do
      %i.material-icons add

= render_listing :projects
