.slider  {
  // This is here so we can ignore the container margins
  position: absolute;
  left: 0;
  right: 0;

  .slides li .caption {
    bottom: 3%;
    right: 3%;
    left: auto;
    top: auto;
    width: 70%;
  }
  .slider-item {
    img {
      filter: brightness(80%);
    }
  }
  .small-sdg-logo {
    left: 25px;
    bottom: 20px;
    position: absolute;
    svg {
      width: 130px;
      height: 130px;
    }
  }
}

#dashboard #sdgs {
  // This is to compensate for the absolite positioning of the slider
  margin-top: 400px;
}

@media #{$small-and-down} {
  .slider {
    .slides li .caption {
      width: 40%;
    }
  }
}

#map {
  path {
    stroke-width: 1px;
    stroke: black;
    cursor: pointer;
  }

  #references rect {
    fill: url(#gradient);
  }

  #references text {
    text-anchor: middle;
  }

  #references line {
    stroke-width: 2px;
    opacity: 1;
  }
}

#sdg-chart {
  text {
    text-anchor: middle;
    pointer-events: none;
  }

  .bar rect,
  .bar text {
    opacity: 0.5;
  }

  .bar {
    pointer-events: none;
  }

  .bar .area{
    pointer-events: initial;
  }

  .bar .background{
    opacity: 1;
  }
}

#population {
  text {
    pointer-events: none;
  }

  .value {
    font-weight: 500;
  }

  .label {
    fill: #666666;
    font-size: 14px;
  }

  .bar {
    pointer-events: none;
  }

  .bar .area{
    pointer-events: initial;
  }
}

#timeline {
  text {
    pointer-events: none;
  }

  .line {
    stroke-width: 2px;
    stroke: black;
    fill: none;
  }

  .y path {
    display: none;
  }

  .y .tick:nth-child(2) text {
    display: none;
  }

  .x line, .x path {
    display: none;
  }

  .x .tick:last-child text {
    display: none;
  }
}

#by-sdg {
  margin-bottom: 16px;
}

#dashboard {
  .divider {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
  }
}

#charts {
  div {
    margin-top: 32px;
  }
}

.btn#go-to-list {
  line-height: 45px;
}
