form {
  label {
    text-transform: capitalize;
  }
}

.input-field.col.checkbox label {
  left: 0;
  top: 0;
}

.btn.danger {
  background-color: #b71c1c;
}

#register {
  i.material-icons {
    position: relative;
    bottom: -5px;
  }

  line-height: 100px;
}

.input-field{
  label.active[data-hint]::after {
    content: attr(data-hint);
    display: block;
    position: absolute;
    width: 120px;
    top: 60px;
  }
}
