html, body {
  height: 100%;
}

nav {
  box-shadow: none;
  border-bottom: $primary-color solid 1px;
  height: 85px;
  line-height: 84px;
  .brand-logo {
    margin: 10px 0;
    display: flex;
    align-items: center;
    img {
      &.raci { height: 36px; }
      &.sdg {
        height: 43px;
      }
      &.sdg-mobile {
        height: 50px;
      }
    }
    #logo-separator {
      border-left: #C0C0C0 solid 1px;
      height: 60px;
      display: inline-block;
      margin: 0 17px 0 21px;
    }
  }
  .button-collapse {
    float: none;
    margin: 0;
    top: 10px;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 95%;
    max-width: none;
  }
}

#full-content {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -95px;
  &:after {
    content: "";
    display: block;
    height: 95px;
  }
}

footer.page-footer {
  border-top: $primary-color solid 1px;
  color: $footer-font;
  line-height: 50px;
  position: relative;
  bottom: 0;
  height: 72px;
  width: 100%;

  img.footer {
    height: 35px;
    vertical-align: middle;
    filter: grayscale(100%) opacity(60%);

    &.un {
      margin: 0 20px;
      height: 50px;
    }
  }
}

h2 {
  font-size: 24px;
}
