.project-line {
  min-height: 225px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $primary-color;
  .title {
    font-size: 36px;
    display: inline-block;
    a {color: black;}
  }
  .organization {
    color: $secondary-font-color;
    display: inline-block;
    a { color: $secondary-font-color; }
  }
  #contact-details, .project-details {
    color: $secondary-font-color;
  }
  #contact-details .row {
    margin-bottom: 0;
    margin-top: 7px;
  }
  .sdg-name {
    margin-right: 10px;
    display: inline-block;
  }
  .row#title {
    margin-bottom: 0;
  }
  .org-logo {
    width: 192px;
    height: 192px;
    margin-top: 10px;
  }
}

#filters {
  color: $secondary-font-color;
  border-bottom: 1px solid $primary-color;
  .filter-menu svg {
    height: 75px;
    width: 75px;
    margin-right: 6px;
  }

  #sdg-filters {
    margin: 20px;
    .menu-item {
      margin-right: 6px;
    }
  }

  .input-field .prefix ~ label {
    margin-left: 2rem;
  }
  .input-field .prefix ~ input {
    margin-left: 2rem;
  }
  .input-field .prefix {
    bottom: 33px;
    font-size: 1.5rem;
    width: 2rem;
  }
}

.count {
  margin: 6% 0 20px 0;
  color: $secondary-font-color;
  font-size:18px;
}

i.extra-icons {
  fill: $secondary-font-color;
  background: asset-url("icons.svg") no-repeat 40px 40px;
  background-size: 120px 120px;
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 23px;
  line-height: 20px;

  &.twitter         { background-position: -24px -1px; }
  &.facebook        { background-position: 1px -48px; }
}
