// Colors
$ods1: #E5243B;
$ods2: #dda63a;
$ods3: #4c9f38;
$ods4: #C5192D;
$ods5: #ff3a21;
$ods6: #26bde2;
$ods7: #fcc30b;
$ods8: #a21942;
$ods9: #fd6925;
$ods10: #dd1367;
$ods11: #fd9d24;
$ods12: #bf8b2e;
$ods13: #3f7e44;
$ods14: #0a97d9;
$ods15: #56c02b;
$ods16: #00689d;
$ods17: #19486a;

// For ODS logos
#sdg-icons {
  display: none;
}

// fill within the use - color for paths
// color within use - color for back
// Help: https://tympanus.net/codrops/2015/07/16/styling-svg-use-content-css/
// (under Using the CSS currentColor Variable For Styling <use> Content)
use.menu-item { fill: #ffffff; }
use.inverted { color: #ffffff; }
.ods1 {
  background-color: $ods1;
  use.inverted { fill: $ods1; }
  &.bar { fill: $ods1; }
}
.ods2 {
  background-color: $ods2;
  use.inverted { fill: $ods2; }
  &.bar { fill: $ods2; }
}
.ods3 {
  background-color: $ods3;
  use.inverted { fill: $ods3; }
  &.bar { fill: $ods3; }
}
.ods4 {
  background-color: $ods4;
  use.inverted { fill: $ods4; }
  &.bar { fill: $ods4; }
}
.ods5 {
  background-color: $ods5;
  use.inverted { fill: $ods5; }
  &.bar { fill: $ods5; }
}
.ods6 {
  background-color: $ods6;
  use.inverted { fill: $ods6; }
  &.bar { fill: $ods6; }
}
.ods7 {
  background-color: $ods7;
  use.inverted { fill: $ods7; }
  &.bar { fill: $ods7; }
}
.ods8 {
  background-color: $ods8;
  use.inverted { fill: $ods8; }
  &.bar { fill: $ods8; }
}
.ods9 {
  background-color: $ods9;
  use.inverted { fill: $ods9; }
  &.bar { fill: $ods9; }
}
.ods10 {
  background-color: $ods10;
  use.inverted { fill: $ods10; }
  &.bar { fill: $ods10; }
}
.ods11 {
  background-color: $ods11;
  use.inverted { fill: $ods11; }
  &.bar { fill: $ods11; }
}
.ods12 {
  background-color: $ods12;
  use.inverted { fill: $ods12; }
  &.bar { fill: $ods12; }
}
.ods13 {
  background-color: $ods13;
  use.inverted { fill: $ods13; }
  &.bar { fill: $ods13; }
}
.ods14 {
  background-color: $ods14;
  use.inverted { fill: $ods14; }
  &.bar { fill: $ods14; }
}
.ods15 {
  background-color: $ods15;
  use.inverted { fill: $ods15; }
  &.bar { fill: $ods15; }
}
.ods16 {
  background-color: $ods16;
  use.inverted { fill: $ods16; }
  &.bar { fill: $ods16; }
}
.ods17 {
  background-color: $ods17;
  use.inverted { fill: $ods17; }
  &.bar { fill: $ods17; }
}

.ods1-menu { use.menu-item { color: $ods1; }; use.menu-item.inactive { color: $primary-color; } }
.ods2-menu { use.menu-item { color: $ods2; }; use.menu-item.inactive { color: $primary-color; } }
.ods3-menu { use.menu-item { color: $ods3; }; use.menu-item.inactive { color: $primary-color; } }
.ods4-menu { use.menu-item { color: $ods4; }; use.menu-item.inactive { color: $primary-color; } }
.ods5-menu { use.menu-item { color: $ods5; }; use.menu-item.inactive { color: $primary-color; } }
.ods6-menu { use.menu-item { color: $ods6; }; use.menu-item.inactive { color: $primary-color; } }
.ods7-menu { use.menu-item { color: $ods7; }; use.menu-item.inactive { color: $primary-color; } }
.ods8-menu { use.menu-item { color: $ods8; }; use.menu-item.inactive { color: $primary-color; } }
.ods9-menu { use.menu-item { color: $ods9; }; use.menu-item.inactive { color: $primary-color; } }
.ods10-menu { use.menu-item { color: $ods10; }; use.menu-item.inactive { color: $primary-color; } }
.ods11-menu { use.menu-item { color: $ods11; }; use.menu-item.inactive { color: $primary-color; } }
.ods12-menu { use.menu-item { color: $ods12; }; use.menu-item.inactive { color: $primary-color; } }
.ods13-menu { use.menu-item { color: $ods13; }; use.menu-item.inactive { color: $primary-color; } }
.ods14-menu { use.menu-item { color: $ods14; }; use.menu-item.inactive { color: $primary-color; } }
.ods15-menu { use.menu-item { color: $ods15; }; use.menu-item.inactive { color: $primary-color; } }
.ods16-menu { use.menu-item { color: $ods16; }; use.menu-item.inactive { color: $primary-color; } }
.ods17-menu { use.menu-item { color: $ods17; }; use.menu-item.inactive { color: $primary-color; } }

.sdg_badge {
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  height: 22px;
  width: 22px;
  box-sizing: border-box;
  border-radius: 2px;
  display: inline-block;
}

.font-sdg1 { color: $ods1; }
.font-sdg2 { color: $ods2; }
.font-sdg3 { color: $ods3; }
.font-sdg4 { color: $ods4; }
.font-sdg5 { color: $ods5; }
.font-sdg6 { color: $ods6; }
.font-sdg7 { color: $ods7; }
.font-sdg8 { color: $ods8; }
.font-sdg9 { color: $ods9; }
.font-sdg10 { color: $ods10; }
.font-sdg11 { color: $ods11; }
.font-sdg12 { color: $ods12; }
.font-sdg13 { color: $ods13; }
.font-sdg14 { color: $ods14; }
.font-sdg15 { color: $ods15; }
.font-sdg16 { color: $ods16; }
.font-sdg17 { color: $ods17; }

.sdgs {
  line-height: 1.7;
}

.container.c-sustainable_development_goals {
  width: 100%;
}

.sdg-header {
  width: 100%;
  height: 100%;
  color: $light-font;
  display: flex;
  padding:60px 70px;

  svg.logo {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    max-width: 240px;
  }
  .title {
    font-size: 30px;
    font-weight:300;
    line-height: 36px;
  }
  .lead {
    font-size: 18px;
    font-weight: 200;
    line-height: 24px;
    padding-top: 28px;
  }
  .svg-container {
    height: 0;
    padding-top: 18%;
    position: relative;
  }
  .sdg-content {
    padding: 0 40px 0 60px;
  }
}

.sdg-header.about-page {
  padding:60px 30px;

  img.about-wheel {
    max-width:100%;
  }
}

#sdg-menu {
  margin-bottom: 0;
  margin-top: 5px;
  text-align:center;
}
.menu {
  a.menu-link {
    margin-right: -2px;
  }

  svg {
    height: 75px;
    width: 75px;
  }
}

.targets {
  .content {
    font-size: 18px;
    line-height: 24px;
    padding: 0px 110px 0 105px;
    margin-bottom: 85px;
  }

  h2.targets-header {
    font-size: 30px;
    margin-top: 50px;
  }
}

@media #{$small-and-down} {

  .sdg-header {
    padding: 0;

    .sdg-content {
      padding: 12%;
    }
  }

  .targets {
    .content {
      padding: 0 12%;
      margin-bottom: 15%;
    }
  }
}

.small.copy {
  padding: 0px 110px 0 105px;
}

@media #{$small-and-down} {
  .small.copy { padding: 0 12%; }
}
