%h2= "Datos de #{@organization.name}"

- if !current_user.admin && !@organization.accepted
  .row
    .col.s12.m6
      %i.material-icons.red-text warning︎
      Tu organización necesita autorización de RACI antes de aparecer en el portal público


= render 'form'
