%h2 Autorización pendiente
%p Para poder subir proyectos tu organización tiene que ser aprobada por RACI.
%p Si hay algún problema, nos comunicamos con vos. Si no, tu organización debería estar aprobada en unos días.
%p ¡Gracias!
