.row
  .sdg-header.about-page
    .col.m2.s12.hide-on-small-only
      = image_tag 'SDG_Wheel.png', class: "about-wheel"
    .sdg-content.col.m10.s12.black-text
      .title ¿Quiénes somos?
      .lead
        %p RACI es una federación conformada por más de 125 Organizaciones de la Sociedad Civil (OSC) que trabaja en pos de fortalecer al sector vinculándolo con agentes locales e internacionales que realicen inversión social para el desarrollo en la Argentina.
        %p Es una red que con más de 10 años ha alcanzado su lugar como referente de la Sociedad Civil posicionando al sector como un actor clave para el crecimiento del país y la región.
        %p Junto al apoyo de la empresa Cablevisión | Fibertel y el apoyo institucional de Naciones Unidas en Argentina, RACI desarrolló esta plataforma pensando en un espacio en el cual la Sociedad Civil, el Estado y el sector privado encuentren un lugar de confluencia sobre la base de un tema que los atraviesa a todos como es la nueva Agenda de Desarrollo mundial 2015-2030.
        %p Con esto en mente RACI se propuso crear “Plataforma de Sociedad Civil para el cumplimiento de los ODS” con el fin de generar sinergias al mismo tiempo que producir una fuente de recursos abierta y gratuita para todo aquel que desee acceder y descargar datos para futuros análisis.
      .title Por qué del proyecto
      .lead
        %p 2015 dejó planteada, a nivel global, una nueva agenda de desarrollo que se plasma en los Objetivos de Desarrollo Sostenible (ODS), que instalan el nuevo horizonte de trabajo de toda la sociedad, atravesando tanto la agenda de ayuda al desarrollo como la de la intervención de las Organizaciones de la Sociedad Civil, Estados y ciudadanía, estableciendo el “nuevo lenguaje” entre las personas, sus representantes y las instituciones. Este nuevo conjunto de metas imprimirá en las décadas venideras sus rasgos multidimensionales y su mirada integral en todo el proceso de desarrollo humano, colocando en su logro, un punto de partida para la construcción de sociedades más justas en tanto sean más democráticas y participativas.
        %p Pero para alcanzar el cumplimiento de los 17 ODS y sus 169 metas correspondientes, es preciso que todos entendamos no sólo la importancia de trabajar en las temáticas que se establecieron prioritarias sino, también, hacerlo de manera articulada y multidisciplinaria para que los esfuerzos realizados resulten en un mayor impacto y alcance.
        %p Es por esto que RACI se propuso crear “Plataforma de Sociedad Civil para el cumplimiento de los ODS” para democratizar la información sobre el trabajo que realizan  las Organizaciones de la Sociedad Civil en el país y hacerla visible frente a los ojos de actores clave que potenciarán las iniciativas aquí presentes.

